<html>
  <head>
    <title>Stream</title>
  </head>
  <body>
    <h1>Twoja stara</h1>
    <ul>
        <li><a href="sobel/">Sobel</a></li>
        <li><a href="smoothing/">Smoothing</a></li>
        <li><a href="laplacian/">Laplacian</a></li>
        <li><a href="face-detection/">Face detection</a></li>
        <li><a href="face-eyes-detection/">Face and eyes detection</a></li>
        <li><a href="background-filter/">Background filter</a></li>
        <li><a href="video_feed/">No filter</a></li>
    </ul>
  </body>
</html>